div.container(ng-app="GamifyApp", ng-controller="MainCtrl")
  h1 Gamify 
    small Achievements made 
      strike easy
      |  easier!
  p.text-muted Work in progress library for "gamification" in javascript.

  div.list-group
    div.list-group-item(ng-class="{'list-group-item-success': testAchievement1.isUnlocked()}")
      span.badge.pull-right(ng-if="testAchievement1.isUnlocked()") Unlocked: {{testAchievement1.dateUnlocked()|date:'short'}}
      h4.list-group-item-heading Achievement 1 
      em.list-group-item-text Click "Button 1".
    div.list-group-item(ng-class="{'list-group-item-success': testAchievement2.isUnlocked()}")
      span.badge.pull-right(ng-if="testAchievement2.isUnlocked()") Unlocked {{testAchievement2.dateUnlocked()|date:'short'}} 
      span.badge.pull-right(ng-if="testAchievement2.getProgress() > 0 && !testAchievement2.isUnlocked()") {{testAchievement2.getProgress() * 100|number:2}}%
      h4.list-group-item-heading Achievement 2 
      em.list-group-item-text Click "Button 1" three times and "Button 2" once in any order.
      // pre.no-border
        | counterBtn1: {{testAchievement2.counterBtn1|json}}
        | counterBtn2: {{testAchievement2.counterBtn2|json}}

    div.list-group-item(ng-class="{'list-group-item-success': testAchievement3.isUnlocked()}")
      span.badge.pull-right(ng-if="testAchievement3.isUnlocked()") Unlocked: {{testAchievement3.dateUnlocked()|date:'short'}}
      h4.list-group-item-heading Achievement 3 
      em.list-group-item-text Click "Button 4" then immediately click "Button 1" 
        u.text-danger with-in 1 second.
      // pre.no-border
        | lastTime: {{testAchievement3.lastTime|json}}
        | lastAction: {{testAchievement3.lastAction|json}}
        | lastParam: {{testAchievement3.lastParam|json}}

    div.list-group-item(ng-class="{'list-group-item-success': testAchievement4.isUnlocked()}")
      span.badge.pull-right(ng-if="testAchievement4.isUnlocked()") Unlocked: {{testAchievement4.dateUnlocked()|date:'short'}}
      h4.list-group-item-heading Achievement 4 
      em.list-group-item-text Win all other achievements
        u.text-danger without clicking
        |  "Button 3".
      // pre.no-border
        | tainted: {{testAchievement4.tainted|json}}

    div.list-group-item(ng-class="{'list-group-item-success': testAchievement5.isUnlocked()}")
      span.badge.pull-right(ng-if="testAchievement5.isUnlocked()") Unlocked: {{testAchievement5.dateUnlocked()|date:'short'}}
      span.badge.pull-right(ng-if="testAchievement5.getProgress() > 0 && !testAchievement5.isUnlocked()") {{testAchievement5.getProgress() * 100|number:2}}%
      h4.list-group-item-heading Achievement 5 
      em.list-group-item-text You must unlock all other achievements.
      // pre.no-border
        | totalCount: {{testAchievement4.totalCount|json}}

  dl.row.text-center
    div.col-sm-6
      button.trigger.btn.btn-primary.btn-lg(ng-click="gamify.trigger(event1, [button1])") Button 1
      button.trigger.btn.btn-primary.btn-lg(ng-click="gamify.trigger(event1, [button2])") Button 2
    div.col-sm-6
      button.trigger.btn.btn-primary.btn-lg(ng-click="gamify.trigger(event2, [button1])") Button 3
      button.trigger.btn.btn-primary.btn-lg(ng-click="gamify.trigger(event2, [button2])") Button 4

  div.replay-data(ng-show="log.length || replay.length || gamify.isDirty()")
    h3 Replay Data
    p.text-muted 
    div.clearfix
    textarea.form-control(rows=5, ng-model="replayJson")
    
    div.navbar.navbar-default
      div.container-fluid
        div.nav.navbar-nav.navbar-left
          button.btn.btn-warning.navbar-btn(type="button", ng-click="resetReplay()", ng-disabled="!replay || replay.length === 0")
            span.glyphicon.glyphicon-trash
            |  Clear
          button.btn.btn-success.navbar-btn(type="button", ng-click="loadReplay()", ng-disabled="!isValidJson(replayJson)")
            span.glyphicon.glyphicon-flash
            |  Run
            
        div.navbar-form.navbar-left(ng-show="log.length > 0")
          div.form-group
            label
              input(type="checkbox", ng-model="hideLog")
              |  Hide Log

        div.nav.navbar-nav.navbar-right
          button.btn.btn-danger.navbar-btn(ng-click="resetLog()", ng-if="log.length&&!hideLog")
            |  Reset Log
          button.btn.btn-danger.navbar-btn(ng-click="gamify.reset()", ng-if="gamify.isDirty()")
            |  Reset Gamify

  div.clearfix
  div.well(ng-if="log.length && !hideLog")
    label.text-muted Debug log
    label.small.pull-right
      | Show Debugging
      input(type="checkbox",ng-model="showDebugInfo")
    div.clearfix
    div.logwrapper(scroll-glue="true")
      div(ng-repeat="entry in log")
        span.pull-right(ng-bind="entry.date|date:'short'")
        span.block(ng-bind="entry.message")
        pre.no-border(ng-if="showDebugInfo&&entry.debug", ng-bind="entry.debug|json")