body{
	background-color: gray;	
}

.container{
	margin-top: 3vh;
}

.inner{
	background: white;
	border: 10px solid;
	border-color: #ffcc00;
	border-radius: 5px;

}

#title{
	text-align: center;
	color: white;
}

#navbar{
	margin-left: 5px;
	 border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.active{
	background-color:  #ffcc00 !important;
	border:2px solid #ffcc00 !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;  

}


.nav-item{
	background-color: #0066cc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin: 5px;
	margin-bottom: 0 !important;

}

.nav-link{
	color: white;
	font-weight: bold;
}

ul.nav a:hover { 
	color: #fff !important;
	border-bottom: 0px;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;  

}

ul.nav a:focus { 
	color: #fff !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;  

}

#img_user_checked{
	margin: 20px;
	border:3px solid;
	border-radius: 100%;
	border-color:lightblue;
}

#medalhaAzul-01{
	position:absolute;
	z-index: -1;
}

.insignia{
	margin: 10px;
}
.rowAluno{
	border:5px solid lightblue;
	border-radius: 10px;
	margin: 15px;
}